* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: lato, sans-serif;
}

/* navbar */
.navbar-light .navbar-toggler {
  border: none;
  color: #272a31;
  font-size: 2em;
}