* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: lato, sans-serif;
}

@font-face {
  font-family: 'Cocogoose-Pro';
  src: url('cocogoose/Cocogoose_trial.otf');
}

.first-color,
.navbar-light .navbar-nav .nav-link {
  color: #272a31;
}

.sec-color,
.navbar-light .navbar-nav .nav-link.sec-color,
#nav-join-btn,
.before-title,
.title {
  color: #ec5242;
}

/* navbar */
.navbar {
  background-color: #eeeeee;
}

.navbar-light .navbar-toggler {
  border: none;
  font-size: 2em;
}

.nav-link {
  font: 2rem;
}

#nav-join-btn {
  border: 4px solid #ec5242;
  width: 140px;
  text-align: center;
}

/* headline */
#headline {
  background-color: #eeeeee;
  min-height: 400px;
}

#headline .content {
  height: 100%;
}

.title {
  font-family: 'Cocogoose-Pro', sans-serif;
}

.description {
  padding: 16px;
  border: 2px solid #ffffff;
}

.data {
  font-family: 'Cocogoose-Pro', sans-serif;
  color: #272a31be;
}


