@media screen and (min-width: 768px) {
  /* header */
  header {
    position: static;
  }
  
  .dark-bar {
    min-height: 32px;
    width: 100%;
    background-color: #272a31;
    margin: 0;
    height: 100%;
  }

  .links {
    flex: 1;
    padding: 0;
  }

  .links li {
    list-style: none;
  }

  .link {
    text-decoration: none;
  }

  #navbarSupportedContent {
    flex: 1;
  }

  .logo {
    width: 320px;
  }

  /* headline */
  #headline {
    min-height: calc(100vh - 124px);
    background:
    linear-gradient(180deg, rgba(238, 238, 238, 0.9) 0.96%, rgba(238, 238, 238, 0.9) 120%),
    url('/images/elderly-lg.jpg') center center / cover no-repeat;
    padding: 0;
  }

  #headline h1 {
    font-size: 3em;
  }

  /* program */
  #program {
    min-height: 50vh;
  } 

  #program .cards {
    min-height: 25vh;
  }

  .box {
    grid-template-columns: 1fr;
    grid-template-rows: 52px 34px 1fr;
    flex-grow: 0;
    max-width: 300px;
  }

  /* speakers */
  #partner .col {
    flex-basis: auto;
  }

  .partner-img {
    width: 120px;
  }
}
