@media screen and (min-width: 768px) {
  /* header */
  header {
    position: static;
  }
  
  .dark-bar {
    min-height: 32px;
    width: 100%;
    background-color: #272a31;
    margin: 0;
    height: 100%;
  }

  .links {
    flex: 1;
  }

  .links li {
    list-style: none;
  }

  .link {
    text-decoration: none;
  }

  #navbarSupportedContent {
    flex: 1;
  }

  .logo {
    width: 320px;
  }
}